.chatInfo {
    padding: 0px 30px;

    &__content {
        width: 250px;
        margin-top: 0;

        &__initials {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            background-image: linear-gradient(45deg, #9db2f1, #d5e0f8);
            width: 70px;
            height: 70px;
            border-radius: 50%;

            font-size: 1.2rem;
            font-family: "san-fran-med", $back-up-fonts;

            margin-bottom: 10px;
        }

        &__email, &__name, &__archive {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 0.8rem;

            svg {
                transform: scale(0.8);
            }
        }

        &__archive {
            margin-top: 10px;
            background-color: white;
            padding: 7px 15px;
            border-radius: 5px;
            border: 1px solid #536cbd;
            color: #536cbd;
            cursor: pointer;
        }
    } 
}