.chat {
    flex: 1;
    background-color: $ghost-white;
    border-radius: 12px;
    padding: 25px;

    &__messages {
        height: 85%;
        overflow: scroll;

        &__message {
            display: flex;
            gap: 10px;
            font-size: 0.9rem;

            img {
                @include profileImg(50%, 45px)
            }

            &:not(:last-child) {
                margin-bottom: 15px;
            }

            &__content {
                .msg-txt {
                    padding: 15px;
                    display: block;
                    border-radius: 12px;
                    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.07);
                }

                &__time {
                    display: block;
                    margin-top: 10px;
                    color: $med-grey;
                    font-size: 0.75rem;
                }
            }
        }

        &__picture {
            position: relative;

            &__greenDot {
                position: absolute;
                top: 33px;
                right: 0;

                display: block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border: 1px solid white;
                background-color: #55b59d;
            }
        }
    }
}

// If active user
.activeUser {
    display: flex;
    flex-direction: row-reverse;
}

.activeUserMsg {
    background-color: $dark-blue;
    color: white;
}

// Else other user
.otherUserMsg {
    background-color: white;
    color: $dark-blue;
}