@font-face {
  src: url(../../assets/fonts/SF-Pro.ttf);
  font-family: san-fran; }

@font-face {
  src: url(../../assets/fonts/SF-Pro-Text-Medium.otf);
  font-family: san-fran-med; }

@font-face {
  src: url(../../assets/fonts/SF-Pro-Text-Bold.otf);
  font-family: san-fran-bold; }

@font-face {
  src: url(../../assets/fonts/SF-Pro-Text-Semibold.otf);
  font-family: san-fran-semi; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  font-family: "san-fran", Helvetica, sans-serif; }

ul {
  list-style-type: none; }

a:visited {
  color: inherit;
  cursor: pointer; }

button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer; }

p {
  display: inline; }

.app {
  display: flex;
  padding: 30px 0px 30px 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden; }

.chat {
  flex: 1;
  background-color: #f1f6fa;
  border-radius: 12px;
  padding: 25px; }
  .chat__messages {
    height: 85%;
    overflow: scroll; }
    .chat__messages__message {
      display: flex;
      gap: 10px;
      font-size: 0.9rem; }
      .chat__messages__message img {
        border-radius: 50%;
        width: 45px;
        height: 45px;
        object-fit: cover;
        object-position: center top; }
      .chat__messages__message:not(:last-child) {
        margin-bottom: 15px; }
      .chat__messages__message__content .msg-txt {
        padding: 15px;
        display: block;
        border-radius: 12px;
        box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.07); }
      .chat__messages__message__content__time {
        display: block;
        margin-top: 10px;
        color: #aaadaf;
        font-size: 0.75rem; }
    .chat__messages__picture {
      position: relative; }
      .chat__messages__picture__greenDot {
        position: absolute;
        top: 33px;
        right: 0;
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid white;
        background-color: #55b59d; }

.activeUser {
  display: flex;
  flex-direction: row-reverse; }

.activeUserMsg {
  background-color: #293450;
  color: white; }

.otherUserMsg {
  background-color: white;
  color: #293450; }

.chat__newMessage {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.07);
  margin-top: 20px;
  border-radius: 12px;
  padding: 15px; }
  .chat__newMessage__addAttachment {
    color: #8d9091;
    transform: rotate(-45deg);
    cursor: pointer; }
  .chat__newMessage__input {
    display: flex;
    gap: 10px;
    align-items: center;
    flex: 1;
    border: 1px solid #e3e7ea;
    border-radius: 5px;
    padding: 1px;
    height: 40px;
    padding: 10px; }
    .chat__newMessage__input textarea {
      resize: none;
      font-family: "san-fran", Helvetica, sans-serif;
      border: none;
      flex: 1; }
      .chat__newMessage__input textarea:focus {
        outline: none; }
    .chat__newMessage__input__emoji {
      line-height: 0;
      color: #eed892; }
  .chat__newMessage__sendMsg {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #1d4beb;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.8rem;
    cursor: pointer; }
    .chat__newMessage__sendMsg__icon {
      line-height: 0;
      transform: scale(0.8); }

.menu {
  width: 300px;
  padding: 0px 30px 0px 30px;
  overflow: scroll; }
  .menu__header {
    display: flex;
    gap: 15px;
    align-items: center; }
    .menu__header img {
      width: 50px;
      height: 50px; }
    .menu__header__appName {
      font-family: "san-fran-semi", Helvetica, sans-serif;
      font-size: 1.3rem;
      color: #293450; }

.menu__userInfo {
  margin-top: 20px;
  border: 1px solid #e3e7ea;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #293450;
  padding: 25px;
  background-color: #f1f6fa; }
  .menu__userInfo img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center top; }
  .menu__userInfo__name {
    font-family: "san-fran-med", Helvetica, sans-serif;
    font-size: 0.85rem;
    display: flex;
    gap: 5px;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 5px; }
  .menu__userInfo__job {
    color: #3e4a68;
    font-size: 0.9rem; }
  .menu__userInfo__status {
    margin-top: 5px;
    margin-bottom: 5px; }
    .menu__userInfo__status__text {
      margin-left: 10px;
      font-size: 0.9rem;
      color: #3e4a68; }
  .menu__userInfo__toggle {
    width: 30px;
    height: 17px;
    position: relative;
    display: inline-block; }
    .menu__userInfo__toggle input {
      opacity: 0;
      width: 0;
      height: 0; }
      .menu__userInfo__toggle input:checked + .menu__userInfo__toggle__slider:before {
        transform: translateX(12px); }
    input:checked + .menu__userInfo__toggle__slider {
      background-color: #1d4beb; }
    .menu__userInfo__toggle__slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      bottom: 0;
      background-color: #ccc;
      width: 100%;
      height: 100%;
      margin: auto;
      transition: 0.3s;
      border-radius: 10px; }
      .menu__userInfo__toggle__slider:before {
        position: absolute;
        content: "";
        height: 7px;
        width: 7px;
        left: 5px;
        bottom: 5px;
        background-color: white;
        transition: 0.3s;
        border-radius: 50%; }

.menu__conversations {
  padding: 25px 0px; }
  .menu__conversations__header {
    font-family: "san-fran-med";
    color: #293450;
    font-size: 0.8rem;
    display: flex;
    align-items: center; }
    .menu__conversations__header__name_and_num {
      display: flex;
      flex: 1;
      gap: 10px; }
    .menu__conversations__header__num {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #f1f6fa;
      color: #293450;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      font-size: 0.9rem; }
    .menu__conversations__header__up {
      transform: rotate(90deg) scale(0.8); }
    .menu__conversations__header__down {
      transform: rotate(270deg) scale(0.8); }
  .menu__conversations__list {
    margin-top: 10px;
    margin-bottom: 10px; }

.convoThumbnail {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #3e4a68;
  padding: 5px 15px;
  border-radius: 12px;
  transition: 0.2s;
  cursor: pointer;
  font-size: 0.9rem; }
  .convoThumbnail:not(:last-child) {
    margin-bottom: 12px; }
  .convoThumbnail img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    object-fit: cover;
    object-position: center top; }
  .convoThumbnail__name {
    flex: 1; }
  .convoThumbnail:hover {
    background-color: #f1f6fa; }
  .convoThumbnail__unread {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ec605b;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 0.8rem; }

.active {
  font-family: "san-fran-med", Helvetica, sans-serif;
  background-color: #f1f6fa; }
